body {
  background-image: url("/static/resources/bg-3.jpg");
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  background-size: cover;
}
.navi{
  display: flex;
  margin-left:auto;
  overflow: hidden;
}
.navi a {
  padding: 14px 16px;
  text-decoration: none;
  /* color: #02d8d8; */
  color: #000000;
}
.navi a:hover {
  color: #25b4b6 !important;
}
.btn-color {
  color: #ffffff !important;
  background-color: #25b4b6 !important;
  height: min-content;
  width: fit-content;
}
.btn-color:hover {
  color: #ffffff !important;
  background-color: #5bc0c0 !important;
}
.container {
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  gap: 10px;
}
.form-control {
  margin-top: 10px;
  padding: 10px;
  border: 50px;
}

#len {
  width: 600px;
  /* margin-inline-start:300px; */
}
#dd {
  width: 500px;
}
#bt {
  padding-top: 3%;
}
.dropcontainer {
  appearance: none;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.card-body {
  margin-left: 25%;
  margin-top: 10%;
  margin-right: 10%;
  width: 10%;
}

.page-header {
  color: #25b4b6;
}
/* footer {
    background-color: #dbdede;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 150%;
} */
